#ext-meeting-minutes-toc-wrapper {
	clear: both;
	margin-bottom: .5em;
	float: right;
	margin-left:2.5em;
	width: 300px;
}

#ext-meeting-minutes-toc-wrapper .toc { 
    float: right !important;
	width: 100% !important;
}

.meeting-minutes-infobox {
	width:            100%;
	border:           solid #AAA 1px;
	background-color: #f9f9f9;
	color:            black;
	float:            right;
	clear:            right;
	text-align:       left;
	line-height:      1.5em;
	font-size:        88%;
	margin:           0.5em 0 0.5em 1em;
}

.meeting-minutes-infobox caption {
	font-size: 125%;
	font-weight: bold;
}

.meeting-minutes-infobox-row-label {
	text-align: left;
}

/** Used to make form elements span full width of enclosing element **/
.full-width {
	width: 100% !important;
}

/*
Meeting minutes infobox:

style="width: 30em; font-size: 90%; border: 1px solid #aaaaaa; background-color: #f9f9f9; color: black; margin-bottom: 0.5em; margin-left: 1em; padding: 0.2em; float: right; clear: right; text-align:left;"


*/

/* 
Meeting Minutes box 

Can be used in conjunction with Extension:MasonryMainPage
*/
table.main-page-meeting-minutes-box {
  width:       100%;
  border:     1px solid #cef2e0;
  background: #f5fffa;
  margin:     0 1% 0 0;
  padding:    5px;
}
table.main-page-meeting-minutes-box th {
  color:      black;
  padding:    0.2em 0.4em;
  background: #cef2e0;
  border:     1px solid #a3bfb1;
  text-align: left;
  font-size:  130%;
}
table.main-page-meeting-minutes-box td {
  font-size:      110%;
  vertical-align: top;
}
table.main-page-meeting-minutes-box-yellow {
  background:   #FFFBCC;
  border:       1px solid #FFF25A;
}
table.main-page-meeting-minutes-box-yellow th {
  background:   #FFF582;
  border:       1px solid #FFF25A;
}
table.main-page-meeting-minutes-row {
  color:      black;
  text-align: left;
}
table.main-page-meeting-minutes-row th {
  font-size:  110%;
}
table.main-page-meeting-minutes-row td {
  font-size:  95%;
}
